<!-- app/views/users/new.html.erb -->

<h1>Signup!</h1>

<%= form_for :user, html: {class: 'form-group'}, url: '/users' do |f| %>
  <%= f.text_field :first_name, placeholder: 'First Name'%><br>
  <%= f.text_field :last_name, placeholder: 'Last Name'%><br>
  <%= f.text_field :email, placeholder: 'Email'%><br>
  <%= f.password_field :password, placeholder: 'Password'%><br>
  <%= f.password_field :password_confirmation, placeholder: 'Password Confirmation'%><br>
  <%= f.submit "Submit" %>
<% end %>